In [240]:
import pandas as pd
data = pd.read_csv('/home/sanju/Desktop/dsg/algo/football/2011.csv')
data.shape

(380, 5)

In [241]:
data = data.append(pd.read_csv('/home/sanju/Desktop/dsg/algo/football/2012.csv'),ignore_index=True)
data = data.append(pd.read_csv('/home/sanju/Desktop/dsg/algo/football/2013.csv'),ignore_index=True)
data = data.append(pd.read_csv('/home/sanju/Desktop/dsg/algo/football/2014.csv'),ignore_index=True)
data.shape

(1520, 5)

In [242]:
data.head()

         Date       Team 1      Team 2   FT   HT
0  2010-08-14  Aston Villa    West Ham  3-0  2-0
1  2010-08-14    Blackburn     Everton  1-0  1-0
2  2010-08-14       Bolton      Fulham  0-0  0-0
3  2010-08-14      Chelsea   West Brom  6-0  2-0
4  2010-08-14   Sunderland  Birmingham  2-2  1-0

In [243]:
data.tail()

            Date       Team 1       Team 2   FT   HT
1515  2014-05-11      Norwich      Arsenal  0-2  0-0
1516  2014-05-11  Southampton   Man United  1-1  1-0
1517  2014-05-11   Sunderland      Swansea  1-3  0-2
1518  2014-05-11    Tottenham  Aston Villa  3-0  3-0
1519  2014-05-11    West Brom        Stoke  1-2  0-1

In [244]:
data ['Date'] = pd.to_datetime(data['Date'])

In [245]:
data['day'] = data['Date'].dt.day
data['year'] = data['Date'].dt.year
data['month'] = data['Date'].dt.month

In [246]:
data.head()

        Date       Team 1      Team 2   FT   HT  day  year  month
0 2010-08-14  Aston Villa    West Ham  3-0  2-0   14  2010      8
1 2010-08-14    Blackburn     Everton  1-0  1-0   14  2010      8
2 2010-08-14       Bolton      Fulham  0-0  0-0   14  2010      8
3 2010-08-14      Chelsea   West Brom  6-0  2-0   14  2010      8
4 2010-08-14   Sunderland  Birmingham  2-2  1-0   14  2010      8

In [247]:
data = data.drop('Date',axis = 1)

In [248]:
data['year'] = data['year'] - 2010
data.head()

        Team 1      Team 2   FT   HT  day  year  month
0  Aston Villa    West Ham  3-0  2-0   14     0      8
1    Blackburn     Everton  1-0  1-0   14     0      8
2       Bolton      Fulham  0-0  0-0   14     0      8
3      Chelsea   West Brom  6-0  2-0   14     0      8
4   Sunderland  Birmingham  2-2  1-0   14     0      8

In [249]:
data.columns = ['home','away','ft','ht','d','y','m']
data.head()

          home        away   ft   ht   d  y  m
0  Aston Villa    West Ham  3-0  2-0  14  0  8
1    Blackburn     Everton  1-0  1-0  14  0  8
2       Bolton      Fulham  0-0  0-0  14  0  8
3      Chelsea   West Brom  6-0  2-0  14  0  8
4   Sunderland  Birmingham  2-2  1-0  14  0  8

In [250]:
data.away.dtype

dtype('O')

In [251]:
data.home.value_counts()

Man United        76
Fulham            76
Newcastle         76
Everton           76
Chelsea           76
West Brom         76
Sunderland        76
Aston Villa       76
Liverpool         76
Stoke             76
Arsenal           76
Tottenham         76
Man City          76
Swansea           57
Wigan             57
Norwich           57
West Ham          57
QPR               38
Southampton       38
Blackburn         38
Bolton            38
Wolves            38
Reading           19
Hull              19
Crystal Palace    19
Birmingham        19
Blackpool         19
Cardiff           19
Name: home, dtype: int64

In [252]:
data.loc[data.home == 'Man United','home'] = 0
data.loc[data.home == 'Fulham','home'] = 1
data.loc[data.home == 'Newcastle','home'] = 2
data.loc[data.home == 'Everton','home'] = 3
data.loc[data.home == 'Chelsea','home'] = 4
data.loc[data.home == 'West Brom','home'] = 5
data.loc[data.home == 'Sunderland','home'] = 6
data.loc[data.home == 'Aston Villa','home'] = 7
data.loc[data.home == 'Liverpool','home'] = 8
data.loc[data.home == 'Stoke','home'] = 9
data.loc[data.home == 'Arsenal','home'] = 10
data.loc[data.home == 'Tottenham','home'] = 11
data.loc[data.home == 'Man City','home'] = 12
data.loc[data.home == 'Swansea','home'] = 13
data.loc[data.home == 'Wigan','home'] = 14
data.loc[data.home == 'Norwich','home'] = 15
data.loc[data.home == 'West Ham','home'] = 16
data.loc[data.home == 'QPR','home'] = 17
data.loc[data.home == 'Southampton','home'] = 18
data.loc[data.home == 'Blackburn','home'] = 19
data.loc[data.home == 'Bolton','home'] = 20
data.loc[data.home == 'Wolves','home'] = 21
data.loc[data.home == 'Reading','home'] = 22
data.loc[data.home == 'Hull','home'] = 23
data.loc[data.home == 'Crystal Palace','home'] = 24
data.loc[data.home == 'Birmingham','home'] = 25
data.loc[data.home == 'Blackpool','home'] = 26
data.loc[data.home == 'Cardiff','home'] = 27

In [253]:
data.loc[data.away == 'Man United','away'] = 0
data.loc[data.away == 'Fulham','away'] = 1
data.loc[data.away == 'Newcastle','away'] = 2
data.loc[data.away == 'Everton','away'] = 3
data.loc[data.away == 'Chelsea','away'] = 4
data.loc[data.away == 'West Brom','away'] = 5
data.loc[data.away == 'Sunderland','away'] = 6
data.loc[data.away == 'Aston Villa','away'] = 7
data.loc[data.away == 'Liverpool','away'] = 8
data.loc[data.away == 'Stoke','away'] = 9
data.loc[data.away == 'Arsenal','away'] = 10
data.loc[data.away == 'Tottenham','away'] = 11
data.loc[data.away == 'Man City','away'] = 12
data.loc[data.away == 'Swansea','away'] = 13
data.loc[data.away == 'Wigan','away'] = 14
data.loc[data.away == 'Norwich','away'] = 15
data.loc[data.away == 'West Ham','away'] = 16
data.loc[data.away == 'QPR','away'] = 17
data.loc[data.away == 'Southampton','away'] = 18
data.loc[data.away == 'Blackburn','away'] = 19
data.loc[data.away == 'Bolton','away'] = 20
data.loc[data.away == 'Wolves','away'] = 21
data.loc[data.away == 'Reading','away'] = 22
data.loc[data.away == 'Hull','away'] = 23
data.loc[data.away == 'Crystal Palace','away'] = 24
data.loc[data.away == 'Birmingham','away'] = 25
data.loc[data.away == 'Blackpool','away'] = 26
data.loc[data.away == 'Cardiff','away'] = 27

In [254]:
data.home.value_counts()

0     76
12    76
1     76
2     76
3     76
4     76
5     76
6     76
7     76
8     76
9     76
10    76
11    76
13    57
14    57
15    57
16    57
17    38
18    38
19    38
20    38
21    38
26    19
22    19
23    19
24    19
25    19
27    19
Name: home, dtype: int64

In [255]:
data.head()

  home away   ft   ht   d  y  m
0    7   16  3-0  2-0  14  0  8
1   19    3  1-0  1-0  14  0  8
2   20    1  0-0  0-0  14  0  8
3    4    5  6-0  2-0  14  0  8
4    6   25  2-2  1-0  14  0  8

In [256]:
fth = []
for i in range(0,len(data.ft)):
    fth.append(data.ft[i][0])

fta = []
for i in range(0,len(data.ft)):
    fta.append(data.ft[i][2])

hth = []
for i in range(0,len(data.ft)):
    hth.append(data.ht[i][0])

hta = []
for i in range(0,len(data.ft)):
    hta.append(data.ht[i][2])

In [257]:
data.ft.shape

(1520,)

In [258]:
pd.Series(fta).value_counts()

0    504
1    495
2    307
3    157
4     37
5     15
6      5
dtype: int64

In [259]:
data['fth'] = pd.Series(fth)
data['fta'] = pd.Series(fta)
data['hth'] = pd.Series(hth)
data['hta'] = pd.Series(hta)

In [260]:
data.head()

  home away   ft   ht   d  y  m fth fta hth hta
0    7   16  3-0  2-0  14  0  8   3   0   2   0
1   19    3  1-0  1-0  14  0  8   1   0   1   0
2   20    1  0-0  0-0  14  0  8   0   0   0   0
3    4    5  6-0  2-0  14  0  8   6   0   2   0
4    6   25  2-2  1-0  14  0  8   2   2   1   0

In [261]:
data = data.drop(['ft','ht'],axis = 1)
data.head()

  home away   d  y  m fth fta hth hta
0    7   16  14  0  8   3   0   2   0
1   19    3  14  0  8   1   0   1   0
2   20    1  14  0  8   0   0   0   0
3    4    5  14  0  8   6   0   2   0
4    6   25  14  0  8   2   2   1   0

In [262]:
winner = []
for i in range(0,len(data)):
    if(data.fth[i]>data.fta[i]):
        winner.append(0)
    elif(data.fth[i] == data.fta[i]):
        winner.append(1)
    else:
        winner.append(2)
print len(winner)

1520

In [263]:
data['winner'] = pd.Series(winner)
data.head()

  home away   d  y  m fth fta hth hta  winner
0    7   16  14  0  8   3   0   2   0       0
1   19    3  14  0  8   1   0   1   0       0
2   20    1  14  0  8   0   0   0   0       1
3    4    5  14  0  8   6   0   2   0       0
4    6   25  14  0  8   2   2   1   0       1

In [264]:
from sklearn.cross_validation import train_test_split
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

In [292]:
X = data[['home','away','d','m','y','hth','hta']]
Y = data['winner']

In [293]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.10)

In [294]:
clf.fit(X_train,Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [295]:
Y_pred = clf.predict(X_test)

In [296]:
from sklearn.metrics import accuracy_score
print accuracy_score(Y_pred,Y_test)

0.625

In [297]:
clf.feature_importances_

array([ 0.18921901,  0.16975084,  0.18227393,  0.12045793,  0.08889876,
        0.12365497,  0.12574456])